.gradient-text {
  /* Apply the gradient as a background image */
  background-image: linear-gradient(to bottom, darkblue, darkorchid);

  /* Clip the background to the text shape */
  -webkit-background-clip: text;
  background-clip: text;

  /* Make the actual text transparent to reveal the background */
  -webkit-text-fill-color: transparent;
  color: transparent; /* Standard property for transparency */
}

.app-web-btn:hover {
  background: linear-gradient(
    0deg,
    rgba(230, 230, 230, 1) 0%,
    rgba(255, 255, 255, 1) 36%,
    rgba(255, 255, 255, 1) 65%,
    rgba(230, 230, 230, 1) 100%
  );
}
