.contribute-btn {
  background: linear-gradient(
    127deg,
    rgba(99, 46, 227, 1) 0%,
    rgba(159, 98, 242, 1) 100%
  );
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}

a.active {
  color: red;
}
a.pending {
  color: blue;
}
a.transitioning {
  view-transition-name: my-transition;
}
